%section#motivation_pivotal_intro
  :markdown

    # 🕑  Motivation 2 - OO / MVC  Style in Pivotal

    ![Pivotal](pivotal1.png){: width="80%"}

    ⇒ React wont help you if you mess up managing state
    {: .text-warning}


%section#motivation_data-binding

  %h3 Data Bindings and Connecting Components

  .row
    .col-xs-6.text-success
      :markdown

        ![Angular-Data-Binding](angular-data-binding.png){: width="80%"}

        ![Connecting Components](connecting-components.svg){: width="50%"}
        {: .fragment}

    .col-xs-6.text-success
      :markdown
        ![Connecting Components 2](connecting-components-2.svg){: width="80%"}
        {: .fragment}

        ![Spaghetti](spaghetti.jpg){: width="70%"}
        {: .fragment}


%section#motivation_state
  :markdown
    # Goal 2

    ## ensure consistency of state everywhere

    backend, frontend, components, ...



