%section#roadmap_intro
  :markdown
    # 🕓  Core Problem - Remedy - Roadmap

%section#roadmap_core
  :markdown

    # The Core Problem

    managing **state** over **time** and in different **places**



%section#roadmap_outlook
  .text-success

    :markdown

      # Coming Up

      * completely different approach

      * effective

      * very efficient

      * impossible to create bugs like seen

      * awesome developer experience



%section#roadmap_roadmap
  :markdown

    # Roadmap

    0. basics

    0. single page applications

    0. SPA + backend

    0. consequences to developers & architecture


%section#roadmap_catch
  :markdown

    # One further Goal

    **Interest YOU for the stuff.**


    # Catch

    attached to a particular technology:

    Clojure + ClojureScript

