%section#frp
  :markdown
    # 🕔  Functional Reactive Programming

%section#frp_intro
  :markdown

    _Elliott, Conal; Hudak, Paul (1997)_, "Functional Reactive Animation"


    > The combination of functional programming, and reactive programming.

  .fragment
    :markdown

      > The basic idea behind reactive programming is that there are certain
      datatypes that represent a value "over time". Computations that involve
      these changing-over-time values will themselves have values that change
      over time.


      # What ?


%section#frp_spreadsheet_programming
  :markdown
    # Spreadsheet Programming


    ![Spreadsheet](excel.png){: width="50%"}

