%section#end_intro
  :markdown
    # 🕛  Final Words

%section#end_why
  :markdown

    # Why should you care?

    * JavaScript has to many gotchas as a general platform on the server.

    * Ruby (on Rails), PHP, Python, ..., will never run in the browser for
      real.  They have also too many weaknesses on the server.

  .fragment
    :markdown
      Imho, we have to move and the future will be either:

      The enterprise stack **Angular 2/3** + **server technology X**, or the
      distinguishable alternative **Clojure** + **ClojureScript**.


      **What do you choose?**
      {: .text-info}

%section#end_end
  :markdown

    # THE END

    Thank you!


